body {
    background-image: url("../images/crystal_pattern.jpg")
}

.title {
    background-color: teal;
    width: fit-content;
    padding: 15px;
    font-size: 30px;
    margin-bottom: 10px;
    font-family: 'Noto Serif TC', serif;
    color: white;
    font-weight: 900;
}

.instructions {
    width: 50%;
    background-color:aquamarine;
    color: black;
    font-family: 'Noto Serif TC', serif;
    font-weight: bold;
    font-size: 20px;
    padding: 15px;
    margin-bottom: 10px;

}

#targetScore {
    float: left;
    width: 300px;
    height: 60px;
    padding: 15px;
    font-size: 30px;
    background-color: deepskyblue;
    border-right: 10px;
    color: white;
    margin-bottom: 10px;
}

.winsLosses {
    font-size: 15px;
    background-color: navy;
    color: white;
    width: 100px;
    height: 60px;  
    float: left;
    padding: 15px;
    margin-left: 10px;

}

.jewels {
    clear: both;
    margin-top: 10px;
    padding: 15px;
    width: 300px;
    margin-bottom: 10px;
    background-color: white;
}

#scoreSection {
    margin-bottom: 10px;
    width: 300px;
    background-color: darkred;
    padding: 15px;
    color: white;
}

#score {
    width: 300px;
    background-color: darkred;
    padding: 15px;
    color: white;
    font-size: 30px;
    height: 60px;
}